<div class="footer">
    <div class="frame">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-4">
                    <ul class="services">
                        <li><a href="">Copyright</a></li>
                        <li><a href="">Privacy</a></li>
                        <li><a href="">Accessibility</a></li>
                        <li><a href="">Site Map</a></li>
                        <li><a href="">Viewers and Players</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul class="more_links">
                        <li><a href="">General Services Administration</a></li>
                        <li><a href="">Freedom of Information Act</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href=""><img src="/modules/core/images/USA-gov.png" alt="usa.gov"></a></li>
                    </ul>
                </div>
                <div class="col-sm-4">

                    <div class="social_sites">
                        <a href="" class="tweet_link"><img src="/modules/core/images/Twitter.png" alt="twitter" /></a>
                        <a href="" class="fb_link"><img src="/modules/core/images/Facebook.png" alt="facebook" /></a>
                        <a href="" class="gplus_link"><img src="/modules/core/images/Google_plus.png" alt="google plus" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
