<section data-ng-controller="HomeController">
    <div class="jumbotron text-center">

        <h2>Table of Contents</h2>
        <a href="/#!/cards/pubmed/">Search Pubmed Cards</a><br /><br />

        <a href="/#!/cards/trials/">Search Clinical Trial Cards</a><br /><br />

        <a href="/#!/cards/medplus/">Search MedlinePlus Cards</a><br /><br />

        <a href="/#!/cards/medplusconnect/">Search MedlinePlus Connect Cards By ICD 10 code</a><br /><br />

        <a href="/#!/cards/digital/">Search Digital Collections Cards</a><br /><br />

        <a href="/#!/cards/daily/">Search DailyMed Cards</a><br /><br />
    
    </div>

</section>
